<%if (user != null) {%>

<p>
  Login successful!. You will be redirected to the home page in a few seconds,
  or click <a href="/">here</a>
</p>

<script>
  setTimeout(function () {
    window.location = "/";
  }, 3000); // Redirect the user after 3 seconds
</script>

<%} else {%>
<h1>Login</h1>
<%if (typeof msg != 'undefined') {%>
<p><%=msg%></p>
<br />
<%}%>

<form action="/account/login<%=(typeof origin !== 'undefined' && origin !== null)?('?origin='+encodeURIComponent(origin)):''%>" method="post">
  <label class="submissionlabel" for="username"
    >Username or email address:</label
  >
  <input class="submissionbox" type="username" id="username" name="username" />
  <label class="submissionlabel" for="password">Password:</label>
  <input class="submissionbox" type="password" id="password" name="password" />
  <br /><br />
  <input type="submit" value="Submit" />
</form>

<%if (typeof err !== 'undefined') {%>
<p style="color: #aa0000"><%=err%></p>
<%}%> <%}%>
