<h1>Create a new account</h1>
<form action="/account/register" method="POST">
  <label class="submissionlabel" for="username">Username:</label>
  <input class="submissionbox" type="text" id="username" name="username"/>
  <label class="submissionlabel" for="email">Email address:</label>
  <input class="submissionbox" type="text" id="email" name="email"/>
  <label class="submissionlabel" for="password">Password:</label>
  <input class="submissionbox" type="password" id="password" name="password" /><br /><br />
  <input type="submit" value="Submit" />
</form>
