<!-- Page content goes here -->

<h1>Submit a Server</h1>

<form action="/server/submit" method="post">
  <p>
    <label for="name">Server Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="ip">Server IP:</label>
    <input type="text" name="ip" id="ip">
  </p>
  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea>
  </p>
  <p>
    <input type="submit" value="Submit Server">
  </p>
</form>
